/* ChatWindow.css */
.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 80vh;
    width: 100%;
    background-color: #fafafa; /* Light background */
    border: 0.0625em solid #c9d6ee; /* Soft border */
    overflow-y: auto;
    box-sizing: border-box;
    color: #003459; /* Dark text color */
    border-radius: 0.25em;
    margin-bottom: inherit;
}

.message-list {
    flex: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    scroll-behavior: smooth; /* Smooth scrolling for auto-scroll */
    padding: 0.625em;
    background-color: #ffffff; /* Light background for messages */
    max-height: 100%; /* Ensure it doesn't overflow its parent */
}

.message {
    margin-bottom: 0.625em;
}

.message-body ol {
    color: #000000; /* Ensure ordered list text matches the default text color */
    margin-left: 1.5em; /* Add some spacing for indentation */
}

.message-body li {
    color: #000000; /* Ensure list items inherit the color from the parent */
    margin-bottom: 0.5em; /* Add spacing between list items */
}


.chat-input {
    display: flex;
    padding: 0.625em;
    background-color: #ffffff; /* Light background for chat input */
    width: 100%;
}

.chat-input-input-container {
    flex: 1; /* Allow this container to take up available space */
    min-width: 0; /* Prevent content from forcing the container to grow beyond its parent */
    display: flex;
    flex-direction: column;
}

.chat-input input:focus {
    outline: none;
    box-shadow: 0 0 10px 2px rgba(56, 152, 236, 0.5); /* Light blue glow */
}

.chat-input input {
    flex: 1;
    padding: 0.5em;
    border: 0.0625em solid #c9d6ee; /* Soft border */
    border-radius: 0.25em;
    margin-right: 0.3125em;
    background-color: #f5f5f5; /* Light input background */
    color: #003459; /* Dark text color */
}

.chat-input label {
    display: block; /* Ensure the label is a block element */
    margin-left: 1em;
    margin-bottom: -.7em;
    z-index: 1;
    font-size: 1rem;
    color: #003459; /* Dark text color */
}

.toolbar-button {
    align-self: flex-end; /* Align the button to the right */
    padding: 9px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3898ec;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .toolbar-button:hover {
        background-color: #28a8df;
    }

.chat-input button {
    border: none;
    border-radius: 0.25em;
    background-color: #3898ec;
    color: white;
    cursor: pointer;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

    .chat-input button:hover {
        background-color: #28a8df;
    }
