/* Resetting basic styles for consistency across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure the entire app fills the viewport */
html, body, #root, .App {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff; /* Light background to match EasyHealth */
    color: #003459; /* Primary text color */
    overflow-x: hidden;
}


/* Allow overflow in the WindowWrapper component */
.WindowWrapper {
    height: 100%;
    width: 100%;
    overflow: auto; /* Allow scrollbars */
}

