@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Something went wrong... If you continue to experience this issue, you can report the issue at: https://github.com/Jacob-J-Thomas/OpenAICustomFunctionCallingAPI/issues</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Warning, this is a development environment, and should NOT be used in a production setting.
</p>
