.message-container {
    max-width: 75%;
    width: fit-content;
    background-color: #2e2e2e; /* Darker background for message container */
    color: #e0e0e0; /* Light text color for contrast */
}

    .message-container.align-left {
        margin-left: auto;
        /* Add any additional styles for left alignment */
    }

        .message-container.align-left .message {
            color: #e0e0e0; /* Ensure text color for left-aligned messages */
        }

    .message-container.align-right {
        margin-right: auto;
        /* Add any additional styles for right alignment */
    }

.message {
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
    line-height: 1.8; /* Adjust to control text spacing */
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #3e3e3e; /* Darker background for messages */
}

.time-stamp {
    margin-top: -1rem;
    margin-left: inherit;
    margin-right: inherit;
    font-size: 0.75rem; /* Use rem for better scalability */
    color: #b0b0b0; /* Lighter color for timestamps */
}

    .time-stamp.align-right {
        text-align: left;
    }

    .time-stamp.align-left {
        text-align: right;
    }

.author {
    margin-bottom: .25rem;
    font-weight: bold;
}

    .author.align-left {
        text-align: right;
    }

    .author.align-right {
        text-align: left;
    }

pre {
    color: #ffffff;
    border-radius: .25rem;
    padding: 1rem;
    background-color: #030303;
}

.message ol,
.message ul {
    padding-left: 1.5rem; /* Add padding to lists for better readability */
    margin: 0; /* Remove default margin */
    color: white;
}

.message pre {
    overflow-x: auto; /* Allow horizontal scrolling for code snippets */
    white-space: pre-wrap; /* Allow code to wrap */
    word-wrap: normal; /* Reset word-wrap for pre elements */
    max-width: 100%; /* Ensure pre elements don't exceed the container width */
}
